.row
  .span6
    %h2 Employers
    %p Original code tests for your candidates
    = link_to 'Browse tests &raquo;'.html_safe, '#', :class => 'btn btn-primary btn-large'

  .span6
    %h2 Open Source Projects
    %p Top quality contributions to your project
    = link_to 'Submit a task &raquo;'.html_safe, '#', :class => 'btn btn-primary btn-large'
